<!doctype html>
<html>
    <head>

        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/global.js"></script>
        <script type="text/javascript" src="js/lobby.js"></script>
        <title>Lobby</title>
    </head>
    <body>

        <div id="1" class='table'>
            <div id='t1-black' class="player"></div>
            <div id='t1-red' class="player"></div>
        </div>


        <div id="2" class='table'>
            <div id='t2-black' class="player"></div>
            <div id='t2-red' class="player"></div>
        </div>


        <div id="3" class='table'>
            <div id='t3-black' class="player"></div>
            <div id='t3-red' class="player"></div>
        </div>


        <div id='status'></div>
    </body>
</html>